@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .sub-title {
    @apply text-lg text-center py-10 font-medium;
  }
  .container-unselected {

  }
}
